html {
  --bg-color: #0f202d;
  --font-color: #8ebcbd;
  --div-color: #003444;
  --icon-color: #386b74;
  --white-color: #f8fcfc;
  --nav-bg-color: #0034444d;
  --nav-icon-bg-color: #386b7482;
  --text-shadow: #f8fcfc70;
  --small-duration: 0.2s;
  --mid-duration: 0.3s;
  --vlong-duration: 1s;
  --long-duration: 0.5s;
  --nav-height: 50px;
  --box-shadow: -4px -4px 6px rgb(255 255 255 / 15%),
    6px 6px 20px rgb(0 0 0 / 40%);
  --main-font: "Teko";
  --branch-font: "Poppins";
  --stop-color1: #8ebcbd;
  --stop-color2: #0088b2;
}
@font-face {
  font-family: "leigo";
  src: url("../fonts/Leigo.otf");
  font-display: swap;
  font-style: normal;
}
::-webkit-scrollbar {
  background-color: var(--icon-color);
  border-radius: 50px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  box-shadow: 0px -26px 70px var(--font-color), 0px -26px 21px var(--font-color),
    0px -26px 10px var(--font-color), 0px -26px 6px var(--font-color);
  background: linear-gradient(
    0deg,
    var(--white-color) 0%,
    var(--font-color) 50%,
    var(--font-color) 100%
  );
}
*::selection {
  background: var(--font-color);
  color: var(--bg-color);
}
body {
  color: var(--font-color);
  font-family: "leigo", "Tahoma", "Arial";
  background-color: var(--bg-color);
  text-decoration: none;
  cursor: url(../images/cursor/cursor.png), default;
}
/* /////////////////////////reveal classes ///////////////////////////////////////////// */
.rReveal {
  transform: translateX(70px) translateY(0px);
  opacity: 0;
  transition: var(--mid-duration);
}
.lReveal {
  transform: translateX(-70px) translateY(0px);
  opacity: 0;
  transition: var(--mid-duration);
}
.uReveal {
  transform: translateY(-70px) translateX(0px);
  opacity: 0;
  transition: var(--mid-duration);
}
.dReveal {
  transform: translateY(70px) translateX(0px);
  opacity: 0;
  transition: var(--mid-duration);
}
.reveal {
  transform: translateX(0px) translateY(0px);
  opacity: 1;
  transition: var(--mid-duration);
}

/* ////////////////////////////////////////////////////////////////////// */
.images-in-back {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.images-in-back img:first-child {
  opacity: 0.3;
  position: absolute;
  top: -1%;
  left: -34%;
}
.images-in-back img:nth-child(2) {
  opacity: 0.1;
  position: absolute;
  top: -1%;
  right: -34%;
  width: 50%;
}
.images-in-back img:nth-child(3) {
  opacity: 0.4;
  position: absolute;
  top: 59%;
  right: -34%;
  width: 65%;
}
.images-in-back svg:first-child {
  top: 20%;
  position: absolute;
  left: -20%;
  opacity: 0.3;
  max-width: 630px;
}
/* ////////////////////////////////////////////////////////////////////// */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title span {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
  line-height: 50px;
}

/* ////////////////////////////////////////////////////////////////////// */
header {
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  position: fixed;
  width: 99%;
  transition: var(--mid-duration);
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: center;
}
header .container nav {
  width: 95%;
  position: relative;
  background-color: var(--nav-bg-color);
  height: 60px;
  display: flex;
  align-items: center;
  max-width: 500px;
  border-radius: 220px;
  justify-content: center;
  box-shadow: 1px 1px 26px var(--bg-color);
  backdrop-filter: blur(3px);
}
header .container nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  text-align: center;
  line-height: 50px;
}
header .container nav ul li {
  position: relative;
  transition: var(--mid-duration);
  top: 0px;
  border-radius: 50px;
  transition-delay: calc(0.1s * var(--delay));
}
header .container nav ul li a {
  transition: var(--mid-duration);
  color: var(--font-color);
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: block;
  padding: 5px;
  box-sizing: content-box;
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
@media (max-width: 410px) {
  header .container nav ul #skillsLink {
    display: none;
  }
  header .container nav ul li a {
    padding: 0px;
  }
}
header .container nav ul .active-nav {
  background: var(--nav-bg-color);
  box-shadow: inset 0px 0px 17px 0px #386b7482;
  top: -30px;
}

header .container nav ul .active-nav a,
header .container nav ul li:hover a {
  color: var(--white-color);
  text-shadow: -1px 1px 35px var(--text-shadow);
}

/* ////////////////////////////////////////////////////////////////////// */
.landing {
  height: calc(100vh - 80px);
}
.landing .left-link,
.landing .right-link {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 1;
}
.landing .left-link {
  top: 50%;
  left: 10%;
}
.landing .right-link {
  top: 50%;
  right: 10%;
}
/* ////// */
.landing .header-btn {
  position: relative;
  width: 30px;
  display: block;
}
.landing .header-btn i {
  position: absolute;
  font-size: 25px;
  left: 0%;
  transition: var(--mid-duration);
}
.landing .header-btn .toggle-i {
  transform: scale(0);
  z-index: -3;
}
.landing ul li a {
  color: var(--icon-color);
  font-size: 30px;
  transition: var(--mid-duration);
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.landing ul li:hover a {
  color: var(--white-color);
  text-shadow: 0px 0px 36px #f8fcfc70;
}
@media (max-width: 520px) {
  .landing .right-link li a,
  .landing .left-link li a {
    display: none;
  }
  .landing .right-link .header-btn {
    display: block;
    top: -289px;
    right: -10px;
  }
}
@media (max-width: 387px) {
  .landing .right-link .header-btn {
    display: block;
    top: -328px;
    right: -25px;
  }
}
.landing .left-link li::after {
  height: 34px;
  content: var(--link-name);
  position: absolute;
  left: 133%;
  width: 0px;
  line-height: 35px;
  overflow: hidden;
  color: var(--white-color);
  transition: var(--mid-duration);
}
.landing .left-link li:hover::after {
  width: 100px;
}
.landing .right-link li::after {
  height: 34px;
  content: var(--link-name);
  position: absolute;
  right: 127%;
  width: 0px;
  line-height: 35px;
  overflow: hidden;
  color: var(--white-color);
  transition: var(--mid-duration);
  text-align: center;
}
.landing .right-link li:hover::after {
  width: 73px;
}
@media (max-width: 767px) {
  .landing .right-link li::after,
  .landing .left-link li::after {
    display: none;
  }
}

.landing .right-link li,
.landing .left-link li {
  transition: var(--mid-duration) ease-in calc(0.1s * var(--delay));
}
/* ///////////////////// stars on landing        ////////////////////// */
.landing .stars {
  width: 4px;
  position: absolute;
  height: 30px;
  z-index: -2;
  transform: rotate(45deg) scale(1.5);
  background: linear-gradient(
    0deg,
    var(--font-color) 0%,
    var(--bg-color) 85%,
    var(--bg-color) 100%
  );
  border-radius: 100px;
  text-shadow: 0px 2px 4px white;
  padding-top: 23px;
  font-size: 9px;
  filter: blur(1px);
}

.landing .span-1,
.landing .span-3 {
  left: 15%;
  top: -5%;
  animation: stars 5s infinite linear;
}

.landing .span-2,
.landing .span-4 {
  left: 69%;
  top: -30%;
  animation: stars2 5s infinite linear;
}

@media (max-width: 500px) {
  .landing .span-1,
  .landing .span-3 {
    left: 105%;
  }
  .landing .span-2,
  .landing .span-4 {
    left: 169%;
  }
}
.landing .span-3 {
  animation-delay: 2s;
}
.landing .span-4 {
  animation-delay: 2s;
}
.landing .span-5 {
  left: 120%;
  top: -20%;
  animation: stars3 5s infinite linear;
}

.landing .span-1::after,
.landing .span-2::after,
.landing .span-3::after,
.landing .span-4::after,
.landing .span-5::after {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -2;
  transform: translate(210px, -269px);
  background: linear-gradient(
    0deg,
    var(--font-color) 0%,
    var(--bg-color) 85%,
    var(--bg-color) 100%
  );
  border-radius: 100px;
  content: "";
}
.landing .span-1::before,
.landing .span-2::before,
.landing .span-3::before,
.landing .span-4::before,
.landing .span-5::before {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -2;
  transform: translate(88px, -166px);
  background: linear-gradient(
    0deg,
    var(--font-color) 0%,
    var(--bg-color) 85%,
    var(--bg-color) 100%
  );
  border-radius: 100px;
  content: "";
}
/* ///////////////////// landing        ////////////////////// */
.landing {
  position: relative;
  overflow: hidden;
}
.landing .container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: space-around;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.landing h1 {
  font-size: 40px;
  margin: 0%;
  padding-right: 5px;
  min-height: 46px;
}
.landing h2 {
  font-size: 30px;
  padding-right: 5px;
  min-height: 35px;
}
.landing #jop-title {
  font-size: 25px;
  color: var(--white-color);
  padding-right: 5px;
  min-height: 29px;
}
.landing .typing {
  animation: typing 1s linear infinite;
}

@keyframes typing {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    border-right: 2px solid var(--icon-color);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    border-right: 2px solid var(--white-color);
  }
}
.landing .my-img {
  height: 55vh;
  display: flex;
  min-width: 269px;
  max-width: 320px;
  width: 33%;
  border-radius: 155px 155px 40px 40px;
  background: #003444;
  background: linear-gradient(0deg, #003444 0%, #8ebcbd 100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .my-img img {
  width: 250px;
  margin-top: 100px;
  transition: var(--vlong-duration);
}
/* ///////////////onload classes///////// */
.onlanding .left-link li {
  position: relative;
  transform: translateX(-200px);
}
.onlanding .right-link li {
  position: relative;
  transform: translateX(200px);
}
header .container nav .ul li {
  position: relative;
  transform: translateY(60px);
}
.header {
  opacity: 0;
  z-index: -999;
}
.header .container nav ul li {
  position: relative;
  transform: translateY(60px);
}
/* ////////////////////////////////////////////////////////////////////// */
/* start skills  */

.skills {
  margin-top: 100px;
}

.skills .container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.skills .skills-content {
  display: flex;
  padding: 70px 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
/* ///////////// */
.skills .skills-content .skills-img {
  width: 30%;
  min-width: 300px;
  margin: 0% auto 50px;
  cursor: url(../images/cursor/curso-pointerr.png), default;
  position: relative;
}

.skills .skills-content .skills-img::before {
  content: "Keep Away!";
  position: absolute;
  width: 25px;
  height: 0px;
  font-size: 20px;
  left: 76%;
  top: 55%;
  overflow: hidden;
  color: var(--white-color);
  transition: var(--small-duration);
  opacity: 0.5;
  word-break: break-all;
  writing-mode: vertical-rl;
  transition-delay: var(--small-duration);
}

.skills .skills-content .skills-img:hover::before {
  height: 206px;
}

.skills .skills-content .skills-img img {
  width: 100%;
  min-width: 290px;
}
.skills .skills-content .skills-img .imoji {
  width: 100px;
  position: absolute;
  min-width: unset;
  filter: sepia(1);

  left: -10px;
  transform: scale(0);
  transition: var(--small-duration);
}
.skills .skills-content .skills-img:hover .imoji {
  transform: scale(1);
}
/* /////////// */
.skills .skills-content .my-skills {
  display: flex;
  flex-wrap: wrap;
  min-width: 60%;
  max-width: 600px;
  justify-content: center;
  gap: 50px;
}

.skills .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.skills .box h2 {
  font-size: 10px;
}
.skills .box .in-box-skill {
  width: 100px;
  height: 100px;
  display: flex;
  box-shadow: inset 2px 2px 2px #8ebcbd6b,
    inset -2px -2px 2px hwb(0deg 0% 100% / 50%);
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  padding: 18px;
  gap: 10px;
}
.skills .box .in-box-skill::after {
  width: 120px;
  height: 120px;
  display: flex;
  position: absolute;
  border-radius: 50%;
  content: "";
  box-shadow: 4px 4px 4px rgb(0 0 0 / 50%), -1px -1px 2px rgb(255 255 255 / 22%),
    inset 4px 4px 4px rgb(255 255 255 / 22%),
    inset -4px -4px 4px rgb(0 0 0 / 22%);
}

.skills .box circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 10px;
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  transition: all var(--vlong-duration);
}
.skills .box.on-view circle {
  stroke-dasharray: var(--skills-persentage);
}

.skills .box > svg {
  transform: rotate(270deg);
  width: 100px;
  height: 100px;
  overflow: overlay;
  position: absolute;
}
.skills .box svg:nth-child(2) {
  width: 40px;
  margin-top: 50px;
}
.skills .box svg:nth-child(2) g {
  margin-top: 50px;
  fill: var(--font-color);
}
.skills .white-svg {
  fill: var(--icon-color);
  transition: var(--mid-duration);
}
.skills .box:hover .white-svg {
  fill: var(--font-color);
}
.skills .black-svg {
  fill: var(--bg-color);
}
/* ///////////////// start Services //////////////////////////////// */
.services {
  padding: 70px 0px 120px;
  position: relative;
  overflow: hidden;
}
.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
}
.services .container .title {
  padding-bottom: 70px;
}
.services .service-box {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(3px);
  padding: 20px;
  gap: 5%;
  justify-content: center;

  border-radius: 20px;
}
.services .service-box:nth-child(3) {
  flex-direction: row-reverse;
}

.services .service-box .service-img {
  max-width: 30%;
  text-align: center;
  min-width: 260px;
  filter: drop-shadow(2px 4px 6px #0305068f);
}
.services .service-box .service-img img {
  width: 100%;
}
.services .service-box .service-content {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  min-width: 260px;
  justify-content: center;
  gap: 20px;
}
.services .service-box .service-content p {
  max-width: 400px;
  line-height: 25px;
}
.services .service-box .service-content h2 {
  color: var(--white-color);
}
.services .service-box .service-content a {
  max-width: 40%;
  padding: 10px;
  color: var(--white-color);
  text-align: center;
  border-radius: 55px;
  display: block;
  border: 2px solid var(--font-color);
  transition: var(--mid-duration);
  position: relative;
  overflow: hidden;
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.services .service-box .service-content a::after {
  content: "";
  height: 100%;
  position: absolute;
  left: -50%;
  width: 50%;
  background-color: var(--white-color);
  transition: var(--mid-duration);
  z-index: -1;
  top: 0%;
}
.services .service-box .service-content a::before {
  z-index: -1;
  content: "";
  height: 100%;
  position: absolute;
  right: -50%;
  width: 50%;
  background-color: var(--white-color);
  top: 0%;
  transition: var(--mid-duration);
}
.services .service-box .service-content a:hover {
  color: var(--bg-color);
  border: 2px solid var(--white-color);
  filter: drop-shadow(0px 0px 6px var(--font-color));
}
.services .service-box .service-content a:hover::after {
  left: 0%;
}
.services .service-box .service-content a:hover::before {
  right: 0%;
}

@media (max-width: 710px) {
  .services .service-box {
    width: 100%;
  }
  .services .service-box .service-content {
    max-width: 75%;
    align-items: center;
  }
  .services .service-box .service-content p {
    text-align: center;
  }
  .services .service-box .service-img img {
    width: 80%;
    margin-top: 70px;
  }
}

/* /////////////////////// */
.portfolio {
  position: relative;
  overflow-x: clip;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.portfolio .container .buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.portfolio .container .buttons button {
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--nav-bg-color);
  color: var(--font-color);
  transition: var(--mid-duration);
  box-shadow: -2px 2px 7px #00000026;
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.portfolio .container .buttons button:hover,
.portfolio .container .buttons .active {
  background-color: var(--white-color);
  color: var(--bg-color);
  box-shadow: 0px 0px 20px #0088b27d;
  filter: drop-shadow(0px 0px 19px #8ebcbda6);
}
.portfolio .container .portfolio-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.portfolio .container .portfolio-content .portfolio-box {
  display: block;
  max-width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10%;
  height: 200px;
  transition: var(--mid-duration);
  box-shadow: -2px 2px 7px #00000066;
  cursor: url(../images/cursor/curso-pointerr.png), default;
}

.portfolio-box img {
  width: 100%;
  transition: var(--mid-duration);
}

.portfolio-box .view {
  height: 100%;
  position: absolute;
  width: 100%;
  background: var(--nav-icon-bg-color);
  background: linear-gradient(to top, var(--bg-color), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  opacity: 0;
  transition: var(--mid-duration);
}
.portfolio-box .to-demo {
  position: absolute;
  bottom: -18%;
  color: var(--font-color);
  padding: 5px;
  border-radius: 50px;
  border: 2px solid var(--font-color);
  left: 50%;
  transition: var(--mid-duration);
  transform: translateX(-50%);
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.portfolio-box .to-demo:hover {
  border: 2px solid var(--icon-color);
  background-color: var(--icon-color);
  box-shadow: 0px 0px 16px var(--stop-color2);
  color: var(--white-color);
  text-shadow: -1px 1px 1px var(--stop-color2);
}
.portfolio-box:hover .to-demo {
  bottom: 10%;
}
.portfolio-box:hover .view {
  opacity: 1;
}
.portfolio-box:hover img {
  transform: scale(1.5);
  filter: grayscale(0.6) opacity(0.7);
}
/* ///// filter classes*/
.portfolio .container .portfolio-content .hide-portfolio-box {
  transform: scale(0);
  opacity: 0;
}
/* ///// contact////////////////// */
.contact {
  padding-top: 100px;
  overflow: hidden;
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.contact .container .my-connection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.contact-img {
  max-width: 50%;
  min-width: 300px;
}
.contact-img img {
  width: 100%;
}
.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content .hide-btn {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  border-radius: 50px;
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.contact-content ul {
  display: flex;
  width: 300px;
  height: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.contact-content ul li {
  position: absolute;
  left: 0%;
  list-style: none;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
  transform: rotate(0deg) translateX(135px);
}
.contact-content ul li a {
  font-size: 40px;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: rotate(calc(360deg / -8 * var(--i)));
  transition: var(--mid-duration);
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.contact-content ul li:hover a {
  font-size: 40px;
  color: var(--white-color);
  text-shadow: 0px 0px 44px #00d5ff7d;
  filter: drop-shadow(0px 0px 16px #00d5ff33);
}
.contact-content ul.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
  transform-origin: 150px;
  opacity: 1;
}

/* /////////////////////// */
.overlay-img {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0%;
  transition: var(--mid-duration);
  backdrop-filter: blur(4px);
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.overlay-img .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hide-overlay {
  z-index: -99;
  opacity: 0;
}
.overlay-img .container img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 2px black;
}
@media (max-width: 768px) {
  .overlay-img {
    display: none;
  }
}
/* /////////////////////// */

/* staaaaaaaaaaaaaaaaaaaaaaaaaaart button  */

.to-top {
  z-index: 999;
  position: fixed;
  background: var(--nav-icon-bg-color);
  color: var(--font-color);
  width: 45px;
  height: 45px;
  right: -50px;
  bottom: 75px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: url(../images/cursor/curso-pointerr.png), default;
}
.to-top:hover {
  color: var(--bg-color);
  box-shadow: 0px 0px 30px 0px #4dffff33;
  background: var(--font-color);
}
.to-up .active-up-btn {
  right: 20px;
  opacity: 1;
}
@media (max-width: 400px) {
  .to-up .active-up-btn {
    right: 5px;
  }
}

/* eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeend  */
footer {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #00000070;
  overflow: hidden;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer-img {
  max-width: 30%;
  filter: opacity(0.5);
  min-width: 250px;
}
.footer-img img {
  width: 100%;
}
.footer-content {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 300px;
  line-height: 20px;
  gap: 20px;
  padding: 40px 0px;
}
.footer-content h2 {
  color: var(--white-color);
}

.footer-content p {
  color: var(--font-color);
}
footer h3 {
  border-top: 2px solid var(--font-color);
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}
/* eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeend  */
.onloading {
  background-color: #9a9a9a;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  z-index: 1000;
  transition: var(--vlong-duration);
}
.onloading .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onloading .container svg {
  max-width: 420px;
}
.onloading .svg2 path {
  fill-opacity: 0;
  animation: load 2s ease-in forwards 0s;
}
.onloading .svg4 path {
  fill-opacity: 0;
  animation: load 2s ease-in forwards 1s;
}
.onloading .svg3 path {
  fill-opacity: 0;
  animation: load 2s ease-in forwards 2s;
}
.onloading .svg1 path {
  fill-opacity: 0;
  animation: load 2s ease-in forwards 3s;
}
@keyframes load {
  100% {
    fill-opacity: 1;
  }
}
.hi {
  margin-top: -60px;
  font-size: 50px;
  margin-bottom: 60px;
  opacity: 0;
  color: #323232;
  animation: hi 1s linear 4s forwards;
}
@keyframes hi {
  100% {
    opacity: 1;
  }
}
.onloading .circls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.onloading .circls div {
  width: 20px;
  background-color: #323232;
  transform: scale(0);
  border-radius: 50px;
  height: 20px;
  animation: circls 0.5s linear infinite alternate;
}
.onloading .circls .circle1 {
  animation-delay: 6.1s;
}
.onloading .circls .circle2 {
  animation-delay: 6.2s;
}
.onloading .circls .circle3 {
  animation-delay: 6.3s;
}
.onloading .circls .circle4 {
  animation-delay: 6.4s;
}
.onloading .circls .circle5 {
  animation-delay: 6.5s;
}
@keyframes circls {
  100% {
    transform: scale(1);
  }
}
/* on load ......................... */

@media (max-width: 768px) {
  a {
    cursor: default !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  footer h3 {
    font-size: 14px;
  }
}
.hide-onload {
  opacity: 0;
  z-index: -1000;
}
.my-audio {
  display: none;
}
